/*Buttons*/
.button
  cursor: pointer
  height: 40px
  line-height: 40px
  font-size: 15px
  padding: 0 20px
  display: inline-block
  border: 2px solid transparent
  +border-radius(5px)
  text-decoration: none
  overflow: hidden
  vertical-align: middle
  -webkit-appearance: none
  outline: none
.button:focus
  outline: none
.primary-action
  color: $white
  background: $red
.primary-action:hover
  color: $white
.primary-action:active
  background: $selected-red
.secondary
  color: $red
  background: $white
  border: solid $red 2px
.secondary:hover
  color: $red
.secondary:active
  background: $white
.size-xs
  height: 28px
  line-height: 25px
.size-md
  font-size: 16px
  height: 48px
  line-height: 48px
.size-lg
  font-size: 20px
  height: 60px
  line-height: 25px
  padding: 0 50px
.button:hover
  text-decoration: none
/*End Buttons*/